parameters:
    level: 5
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - api/
        - cron/
        - functions.php
        - ctrl.php
        - db.php
    excludePaths:
        - vendor/
